.header {
  padding: 0;
  text-align: center;
  margin: 0 5%;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 30px;
  background: #808080;
}
.header__top__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__top__logo__text {
  padding-left: 10px;
  font-size: 24px;
  text-shadow: 3px 3px #8C0004;
  -webkit-animation: Logo-spin 1s infinite;
          animation: Logo-spin 1s infinite;
  animation-direction: alternate-reverse;
}
.header__top__logo__text__span {
  text-shadow: 3px 3px #ffffff;
}
@-webkit-keyframes Logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}
@keyframes Logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}
.header__top__data {
  width: 90px;
  background-image: url("../img/calendar.png");
  background-size: 90px;
  background-repeat: no-repeat;
  font-style: italic;
}
.header__top__data__text {
  padding-top: 15px;
  padding: 15px 5px 10px 8px;
  color: #373737;
  font-size: 14px;
  text-shadow: 0.3px 0.3px #373737;
}
.header__title {
  color: #8C0004;
}
.header__table {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-collapse: collapse;
  color: #373737;
}
.header__table__currency {
  background: #C0C0C0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.text__uppercase {
  text-transform: uppercase;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 70%;
}

th,
td {
  padding: 10px;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}