$title-text-color: #8C0004;
$text-color: #373737;
$backround-color: #ffffff;
$table-color: #C0C0C0;
$container-color: #808080;

.header {
  padding: 0;
  text-align: center;
  margin: 0 5%;
  
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    background: $container-color;

    &__logo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      
      &__text {
        padding-left: 10px;
        font-size: 24px;
        text-shadow: 3px 3px $title-text-color;
        animation: Logo-spin 1s infinite;
        animation-direction: alternate-reverse;
        
        &__span {
            text-shadow: 3px 3px $backround-color;
          }
      }
      @keyframes Logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(10deg);
        }
      }
    }
    &__data {
      width: 90px;
      background-image: url('../img/calendar.png');
      background-size: 90px;
      background-repeat: no-repeat;
      font-style: italic;
      &__text {
        padding-top: 15px;
        padding: 15px 5px 10px 8px;
        color: $text-color;
        font-size: 14px;
        text-shadow: 0.3px 0.3px $text-color;
      }
    }
  }

  &__title {
    color: $title-text-color;
  }

  &__table {
      justify-content: center;
      border-collapse: collapse;
      color: $text-color;
    
      &__currency {
      background: $table-color;
      justify-content: center;
      margin: 0 auto;
      }
  }
}

.text__uppercase {
  text-transform: uppercase;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 70%;
}

th,
td {
  padding: 10px;
}

tbody tr:nth-child(odd) {
  background-color: $backround-color;
}

tbody tr:nth-child(even) {
  background-color: $backround-color;
} 
